
$font-family-sans-serif: "Outfit", sans-serif;
$headings-font-family: "Young Serif", serif;
$font-size-base: 1rem;

$body-color: hsl(30, 10%, 34%);
$danger: hsl(332, 51%, 32%);
$secondary:hsl(330, 100%, 98%);
$primary: hsl(14, 45%, 36%);
$light: hsl(30, 10%, 34%);

@import "../node_modules/bootstrap/scss/bootstrap";