
$font-family-sans-serif: "Outfit", sans-serif;
$headings-font-family: "Young Serif", serif;
$font-size-base: 1rem;

$body-color: hsl(30, 10%, 34%);
$danger: hsl(332, 51%, 32%);
$secondary:hsl(330, 100%, 98%);
$primary: hsl(14, 45%, 36%);
$light: hsl(30, 10%, 34%);
$dark: hsl(24, 5%, 18%);
$warning: hsl(30, 54%, 90%);


@media (max-width: 375px) {
    .borde-red {
        border-radius: 0 !important;
    }
}

/* Aplicar border-radius de 15px en pantallas grandes */
@media (min-width: 768px) {
    .borde-red {
        border-radius: 15px !important;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";